HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# MacOS
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Compiled output
*.class
out/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Node ###
/node_modules/

src/main/resources/application.properties

/sandbox/
/src/sandbox/